* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}

li {
    text-decoration: none;
    list-style-type: none;
}

body {
     font-family: 'Koulen', 'Roboto Condensed'  ; 
}

html, body {
    height: 100%;
}

.logo {
    background-color: black;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.graphic-logo {
    padding: 5px;
    max-width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

nav {
    margin: auto;
    width: 550px;
    height: auto;
}

.topnav {
    background: #fff;
    font-size: 14px;
    margin-top: 20px;
}

.topnav a {
    color: #000;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.5em;
}

.topnav a:hover {
    border-bottom: 2px solid #000;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        float: right;
        margin-top: -17px;
        display: block;
        color: black;
    }
    nav {
        width: 100%;
        height: 50px;
    }

    .topnav.resp {
        position: relative;
    }

    .topnav.resp a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.resp a {
        float: none;
        display: block;
        text-align: left;   
    }
}




/* Футер */

footer {
    width: 100%;
    height: auto;
    padding-top: 25px;
    background: #000;
    margin: 0 auto;
    text-align: center;
}

footer a {
    color: white;
    font-size: 1em;
    margin-left: 10px;
}
footer p {
    color: white;
}
footer nav a:hover {
    border-bottom: 1px solid #fff;
}

.social img {
    margin-left: 10px;
    margin-bottom: 10px;
}

.social img:hover {
    background: #494949;
    border-radius: 50%;
}

.wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
main {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
}   
footer {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
}