/* Слайдер */

.slider {
    position: relative;
    max-width: 70%;
    margin: 2% auto;
    overflow: hidden;
    user-select: none;
  }
  
  .slider-line {
    display: flex;
    background-color: rgb(255, 255, 255);
    transition: all ease 1s;
  }
  
  
  .prev, .next {
    opacity: .5;
    transition: all ease 1s;
  }
  
  .prev:hover, .next:hover {
    opacity: 1;
    transition: all ease 1s;
  }
  
  .div-prev {
    display: block;
    position: absolute;
    top: 42%;
    left: 1%;
  }
  
  .div-next {
    display: block;
    display: block;
    position: absolute;
    top: 42%;
    right: 1%;
  }
  


/* Каталог */


.catalog {
    display: flex;
    justify-content: space-between;
    flex-direction: 0 1 auto;
}

