main {
    margin: 15px auto 25px;
    max-width: 1024px;
}
@media (max-width: 1024px)
{
    main {
        max-width: 768px;
    }
    .image1 {
        width: 760px;
    }
}
@media (max-width: 768px)
{
    main {
        max-width: 400px;
    }
    .image1 {
        width: 400px;
    }
    main h1 {
        font-size: 28px;
    }
    main h3 {
        font-size: 15px;
    }
    .car-option {
        width: 400px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap column;
                flex-flow: wrap column;
    }
    .car-option input {
        width: 400px;
    }
    .content-options {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap column;
                flex-flow: wrap column;
    }
    .content-option1, .content-option2, .content-option3 {
        width: 400px;
    }
}
main h3 {
    text-align: center;
}

.image1 {
    margin: 0 auto;
    display: block;
    max-width: 768px;
}

.car-option {
    margin: 15px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.car-option input {
    display: block;
    border: 2px solid rgba(75, 75, 75, 0.35);
    border-radius: 5px;
    width: 400px;
    height: 45px;
    margin: 0 2px 5px;
    padding-left: 5px;
}

#send {
    display: block;
    font-family: 'Roboto Condensed';
    font-size: 15px;
    width: 200px;
    height: 35px;
    background: #000;
    border-radius: 7px;
    border: 2px solid #fff;
    color: #fff;
    margin: 0 auto;
    text-align: center;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#send:hover {
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

.button {
    width: 200px;
    margin: 0 auto;
}

.send-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

main h2 {
    margin-top: 50px;
    text-align: center;
}

.content-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
}

.content-option1, .content-option2, .content-option3 {
    width: 200px;
    margin: 25px 20px 0 0;
    border: 2px solid rgba(75, 75, 75, 0.35);
    padding: 10px;
    border-radius: 7px;
}

.content-option1-header, .content-option2-header, .content-option3-header {
    text-align: center;
    font-family: 'Roboto Condensed';
}

.option-svg {
    margin: 15px 20%;
    height: 120px;
}

.content-option1-text1 {
    font-size: 14px;
}

.content-option1-text2 {
    font-size: 12px;
}

.content-option1-text2 li {
    margin-left: 15px;
    list-style-type: disc;
}