.slider {
  position: relative;
  max-width: 70%;
  margin: 2% auto;
  overflow: hidden;
  user-select: none;
}

.slider-line {
  display: flex;
  background-color: rgb(255, 255, 255);
  transition: all ease 1s;
}


.prev, .next {
  opacity: .5;
  transition: all ease 1s;
}

.prev:hover, .next:hover {
  opacity: 1;
  transition: all ease 1s;
}

.div-prev {
  display: block;
  position: absolute;
  top: 42%;
  left: 1%;
}

.div-next {
  display: block;
  display: block;
  position: absolute;
  top: 42%;
  right: 1%;
}



.header {
  margin: 0;
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  background-color: #000;
}

.header-cell, header-cell>a {
  flex: 0 0 auto;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
  color: aliceblue;
}
