@font-face {
    font-family: 'Ubuntu-bold';
    src: url(../Fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face {
    font-family: 'Ubuntu-regular';
    src: url(../Fonts/Ubuntu/Ubuntu-Regular.ttf);
}

.login-window {
    position: absolute;
    width: 576px;
    height: 733px;
    left: 672px;
    top: 244px;
    
    border: 2px solid #C4C4C4;
    border-radius: 10px;
    box-shadow: -10px 10px 50px hsla(0, 0%, 0%, 0.25);
}

.login-header {
    position: absolute;
    width: 422px;
    height: 41px;
    left: 77px;
    
    font-family: 'Ubuntu-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    
    color: #000000;
}

.login-mail {
    position: absolute;
    width: 422px;
    height: 41px;
    left: 39px;
    top: 211px;
    
    font-family: 'Ubuntu-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;

    color: #000000;
}

.login-password {
    position: absolute;
    width: 71px;
    height: 23px;
    left: 39px;
    top: 360px;
    
    font-family: 'Ubuntu-regular';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #000000;
}

.input1 {
    position: absolute;
    width: 513px;
    height: 56px;
    left: 39px;
    top: 270px;
    border-radius: 5px;
    border: 2px solid #C4C4C4;
    font-size: x-large;
    padding-left: 10px;
}


.input2 {
    position: absolute;
    width: 513px;
    height: 56px;
    left: 39px;
    top: 420px;
    border-radius: 5px;
    border: 2px solid #C4C4C4;
    font-size: x-large;
    padding-left: 10px;
}

.login-button {
    box-sizing: border-box;

    position: absolute;
    width: 400px;
    height: 78px;
    left: 88px;
    top: 559px;
    
    background: #A71717;
    border: 2px solid #C4C4C4;
    border-radius: 10px;

    text-decoration: none;
    font-family: 'Ubuntu-bold';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 0px;
    
    color: #FFFFFF;
}

.button-text {
    position: absolute;
    left: 145px;
}